@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u1c20c');
  src:  url('fonts/icomoon.eot?u1c20c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u1c20c') format('truetype'),
    url('fonts/icomoon.woff?u1c20c') format('woff'),
    url('fonts/icomoon.svg?u1c20c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Agilidad:before {
  content: "\e906";
}
.icon-Optimisamos:before {
  content: "\e907";
}
.icon-Servicios-de-mantenimiento:before {
  content: "\e908";
}
.icon-Auditoria-a-personal-e-inmueble:before {
  content: "\e909";
}
.icon-Gestin-de-ahoro-de-energa:before {
  content: "\e90a";
}
.icon-igualas-de-mantenimiento:before {
  content: "\e90b";
}
.icon-Outsourcing:before {
  content: "\e90c";
}
.icon-Planes-de-mantenimiento:before {
  content: "\e90d";
}
.icon-Supervision-de-obras:before {
  content: "\e90e";
}
.icon-Logo-en-gris:before {
  content: "\e925";
}
.icon-Linkeding:before {
  content: "\e93c";
}
.icon-Mensaje:before {
  content: "\e93d";
}
.icon-Rayo:before {
  content: "\e93e";
}
.icon-Telefono:before {
  content: "\e93f";
}
.icon-Administracion-de-inmuebles:before {
  content: "\e940";
}
.icon-Aire-acondicionado:before {
  content: "\e941";
}
.icon-Albaileria:before {
  content: "\e942";
}
.icon-Auditoria-a-personal-e-inmuebles:before {
  content: "\e943";
}
.icon-Automatizacion:before {
  content: "\e944";
}
.icon-Carpinteria:before {
  content: "\e945";
}
.icon-Cisterna:before {
  content: "\e946";
}
.icon-Demolcion:before {
  content: "\e947";
}
.icon-Electricas:before {
  content: "\e948";
}
.icon-Electricidad:before {
  content: "\e949";
}
.icon-Herreria:before {
  content: "\e94a";
}
.icon-Instalacion-y-mantenimiento-de-equipos-aa-y-refigeracion:before {
  content: "\e94b";
}
.icon-Jardineria:before {
  content: "\e94c";
}
.icon-Limpieza:before {
  content: "\e94d";
}
.icon-Muralismo:before {
  content: "\e94e";
}
.icon-Pintura:before {
  content: "\e94f";
}
.icon-Planes-de-ahorro-de-energia:before {
  content: "\e950";
}
.icon-Planos-ejecutivos:before {
  content: "\e951";
}
.icon-Plomeria:before {
  content: "\e952";
}
.icon-Remodelacion:before {
  content: "\e953";
}
.icon-Tablaroca:before {
  content: "\e954";
}
.icon-Transformadores:before {
  content: "\e955";
}
.icon-Tratamiento-de-agua:before {
  content: "\e956";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-message:before {
  content: "\e903";
}
.icon-chevron-thin-right:before {
  content: "\e902";
}
.icon-Chevron-1:before {
  content: "\e905";
}
.icon-facebook1:before {
  content: "\ea91";
}
.icon-instagram1:before {
  content: "\ea94";
}
.icon-whatsapp1:before {
  content: "\ea95";
}
.icon-chevron-thin-right1:before {
  content: "\e900";
}
