
$brown:#E46D4F;
$morado:#373A4D;
$golden:#F1A95E;
$yellow:#F5D600;
$gray : #6e6e6e;

*{
    // color: white;
}
html {
    scroll-behavior: smooth;
    body{
        background-color: #F8F8F8; 
    }
  }

  .container-fluid{
    // max-width: ;
  }
.gray-bg{
    background-color: #fafafa;
}
h3{
    font-size: 35px;
    font-weight: bold;
}
.bg-white{
    background:white!important; 
    z-index: 99999;
}
.bg-white.fade-out {
    background: transparent!important;
    transition-delay: 0.2s;
  }
.fixed-bottom {
    position: fixed;
    right: 20px;
    bottom: 20px;
    left: unset;
    z-index: 1030;
}
.whatsappContainer{
    width:7vw; 
    height: auto;
    min-width: 60px;
    img{
        cursor: pointer;
    }

}
.left-adjust{
    padding-left: 118px;
}
.adorno{
    position: relative;
    &::before{
        position: absolute!important;
        left: 0;
        top: 50%;
        content: '';
        height: 1em;
        border-left: 4px solid #F5D600;
        transform: translateY(-50%);
        left: -1em;
    }
}
    

.cotizacion-btn{
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 57.24px;
    background: #F5D600;
    border-radius: 10.8731px;
    padding: 18.1218px 14.4975px;
    font-family: 'Pilat Wide';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    border-color: transparent;
}

#services{
    min-height: 300px;
    width: 90%;
    li{
        font-size: 1.5rem;
        flex-basis: 30%;
        div{
            margin-right: 20px;
        }
    }
    @media screen and (max-width:991px) {
        width: 100%;
        li{
            font-size: 1.5rem;
            flex-basis: 45%;
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width:772px) {
        
        width: 100%;
        
        li{
            font-size: 1.5rem;
            flex-basis: 100%;
            div{
                width: 50px;
                font-size: 2.8rem!important;
            }
        }
    }
}
#Cards{
    
    .card{
        width: 100%;
        max-width: 450px;
        height: 350px;
        background-color: #fafafa;
        padding: 40px 60px;
    }
    @media screen and (max-width:992px) {
        .card{
            height: 280px;
            width: 90%;
            padding: 40px;
            span{
                font-size: 45px!important;
            }
        }
    }
}
#Conocenos{
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 50%,rgba(0,0,0,0) 81%),url('../assets/img/img-2.png');
    background-size: cover;
    *{
        color: white;
    }
    
}
h3{

}
p{
    line-height: 1.2;
}
img{
    width: 100%;
    object-fit: cover;
}


// header,section{
//     min-height: 70vh;
    
//     @media screen and(max-width:700px) {
//         min-height: 80vh;
        
//     }
// }
// section{
//     .container-fluid, .container{
//         min-height: 70vh;
//     }
// }
#nav-container{
    @media screen and (max-width:728px) {
        padding-left: 0px;
    }
    padding-left: 120px;
    .navbar-toggler{
        &:focus,&:focus-visible{
            box-shadow: none;
            outline: none;
        }
    }
    .logo{
        img{

        }
    }
    .navbar{
        #navbarTogglerDemo02{
            max-width: 556px;
            .icons{
                @media screen and (min-width:772px) {
                    //display: none!important;
                }
            }
        }
        display: flex;
        ul{
           li{
               a{
                //    font-family: 'Helvetica Neue';
                   color: white;
                   font-size: 13px;
               }
           } 
        } 
    }
    @media screen and (max-width:992px) {
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
    }
}

.nav-scrolled{
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    .logo{
        background-image: url("../assets/img/logo-sticky.svg")!important;
    }
    *{
        color: black!important;
    }
}
#nav-container{
    .logo{
        background-image: url("../assets/img/logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        img{
            visibility: hidden;
        }
    }
    @media screen and (min-width: 768px){
        #navbarTogglerDemo02{
            ul{
                gap:36px!important; 
            }
        }
    }
    @media screen and (max-width:992px) {
        min-height: 55px;
        *{
            color:black!important;
        }
        .container{
            padding: calc(calc(55px - 30px)/2) 0px;
        }
        .logo{
            width:117px;
            background-image: url("../assets/img/logo-mobile.png");
            img{
                height: 100%;
            }


        }
        background-color: transparent;
        // margin-right: -40px;
        .navbar{
            // margin-left: -40px;
            padding: 10px;
            // margin-right: -40px;
            background: transparent;
            
            .navbar-collapse{
                
                ul{
                    &.navbar-nav{
                        height: 50vh;
                        display: flex;
                        flex-direction: column!important;
                        justify-content: space-evenly!important;
                    }
                    
                    li{
                        margin-bottom:15px;
                        *{
                            font-size: 20px;
                        }
                    }
                }
                #sectionTwoNavbar{
                    height: 50vh;
                    padding-bottom: 50%;
                }
            }
            
        }
    }
}     
.max-size{
    max-width: 1780px;
    margin:auto; 
}
header{
    background: linear-gradient(to right, rgba(0,0,0,.5) 50%, rgba(0,0,0,0.5) 50%), url(../assets/img/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative; 
    $breakpoint: 768px;
    @media screen and (max-width: $breakpoint) {
        // Add any styles you want to apply within the curly braces
        background: linear-gradient(to right, rgba(0,0,0,.5) 50%, rgba(0,0,0,0.5) 50%),url(../assets/img/hero-mobile.png);
        background-size: 100vw 520px;
        background-position: top center;
        background-repeat: no-repeat;
    }
    
    .header-wrapper{
        display: grid;
        width:100%; 
        grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
        @media only screen and (max-width: 768px) {
            &>div:first-child{
                height:528px; 
            }
        }
        & > div{
            position: relative;
        }
        .form-container {
            @media only screen and (max-width: 768px) {
                // bottom:-450px;
                bottom:80px;
            }
            width: 357px;
            padding: 14px;
            background-color: #fff;
            bottom:-50px;
            position:relative; 
            form {
                display: flex;
                flex-direction: column;
                gap: 16px;
                .form-group {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
    
                    
                    input[type="text"],
                    input[type="email"],
                    input[type="tel"],
                    input,
                    select,
                    textarea {
                    height: 53px;
                    padding: 10px;
                    border: 1px solid #1877F2;
                    font-size: 16px;
                    color: #333;
                    width:100%;
                    background: #FFFFFF;
                    border: 0.906091px solid rgba(0, 0, 0, 0.3);
                    border-radius: 10.8731px;
                    &:focus {
                        outline: none;
                        box-shadow: 0 0 5px #32AA4B;
                        border: 1.81218px solid rgba(50, 170, 75, 0.6);
                    }
                    }
                }
            }
          }

    }
    div{
        p{
            color: white;
            &:not(h1){
                line-height: 1.5em;
            }
        }
    }
    .floating-title{
        @media screen and (max-width:600px) {
            width:90%;
        }
        position: relative;
        h1{
            color:$yellow!important; 
        }
        h3{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 24px!important;
            line-height: 151%;
            color: #ffffff;
        }

    }
    
    .moonlit{
        @media screen and (max-width:767px){
            padding: 20px;
            width: 90%;
            .btn{
                padding-top: 15px;
                padding-bottom: 15px;
                width: 50%;
            }
        }
    }

    
}


#beneficios{
    .align-items-center{
        margin:auto; 
    }
    p{
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 14px;
    }
    .buttons{
        @media screen and (max-width:772px) {
            
            display: flex;
            justify-content: space-between;
            .btn{
                margin: 5px;
                padding-top: 15px;
                padding-bottom: 15px;
                min-width: 155px;
            }
        }
    }
}
            
.banner {
    .banner-content{
        padding:100px 0px; 
        padding-right: 127px;
        h3 , p, li{
            color: white!important;
        }
        span{
            color: $yellow;
            font-size: 600;
        }
        a{
            color:black; 
            background-color: $yellow
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 60px; 
        }
        .banner-inner{
            display:flex; 
            justify-content: flex-end;
            align-items: center;
            gap:20px; 
            .banner-card{
                width:471px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                margin-left: 120px;
            }
        }
        
    }
    background-color: black;
    & #one {
      /* apply the linear gradient over the entire width and the image to only 50% of the right position */
      background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,1) 100%), url('../assets/img/news/couple.webp');
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 50% auto;

    //   padding-top: 34.92%;
    }
    
  }
main{
    @media only screen and (max-width: 768px) {
         margin-top:-80px;
         position: relative;
         z-index: 9999; 
    }
    .little-cards{
        display: flex;
        flex-direction: column;
        padding:32px 100px 40px 100px;
        @media only screen and (max-width: 768px) {
            padding:32px 10px 40px 10px;
            .box-plan{
                margin: auto;
            }
        }
        @media only screen and (max-width:500px){
            >p{
                text-align: center;
            }
        }
        p{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #292929;
        }
        .box-plan-wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(255px,320px)); 
            gap:10px; 
            background-color: transparent;
            .box-plan{
                display: flex;
                gap:1em;
                align-items: center;
                // width:315px; 
                height:87px; 
                position:relative; 
                border-radius: 12px;
                background-color: transparent;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                color: #000;
                span{
                    font-size: 35px;
                }
                h3{
                    font-size: 13px!important;
                    font-weight: 900;
                    line-height: 19.63px;
                    color: #000;
                    margin-bottom: 0;
                }
                p{
                    font-size: 12px;
                    font-weight: 700;
                    color:#000!important; 
                    margin-bottom: 0;
                }
            }
            @media screen and (max-width:500px) {
                display:flex; 
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;   
                .box-plan{
                    width:80%;
                }             
            }
        }
    }
    #overall-info{
        max-width:1780px; 
        margin:auto; 
        display:flex; 
        flex-direction: column;
        gap:170px; 
        justify-content: center;
        @media screen and (max-width:500px) {
            gap:78px; 
        }
        
    }
    .cards-ventajas{
        width: 317px; 
        span{
            font-size: 50px;
        }
        h3{
            font-family: 'Pilat Wide';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 151%;
        }
        p{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 155%;
        }
    }
    .slider-title{
        @media screen and (max-width:500px) {
            gap:15px; 
        }
        display: flex;
        flex-wrap: wrap;
        gap:150px; 
        .controls{
            @media screen and (max-width:500px) {
                padding-top: 10px;
                padding-bottom: 0px;
            }
            padding-top: 30px;
            padding-bottom: 40px;
        }
        .info{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 174%;
            color: #1F1F1F;
        }
        
    }

}
article{
    display: grid;
    gap:80px;
    @media screen and (max-width:500px) {
        gap:19px; 
    }
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    .cotizacion-box{
        @media screen and (max-width:500px) {
            padding: 0 20px!important;
            ul{
                flex-wrap: wrap;
            }
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:nth-child(1), 
        &:nth-child(3){
            padding-left: 118px;
        }
        h2{
            font-family: 'Pilat Wide';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            color: #151515;
        }
        span{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 151%;
            color: #000;
            margin-bottom: 24px;
        }
        p{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 151%;
            color: #151515;
        }
        a{
            display: flex;
            justify-content: center;
            width: 328.01px;
            height: 57.24px;
            background: #F5D600;
            border-radius: 10.8731px;
            padding: 18.1218px 14.4975px;
            font-family: 'Pilat Wide';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            /* identical to box height */
            color: #000000;
        }
        ul{
            display: flex; 
            gap: 12px;
            list-style-type: none;
            li{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 151%;
                color: #151515;;
            }
        }
        &.dark-mode{
            img{
                width: 170px;
            }
            h2,p,span{
                color:white; 
            }
            h2{
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 174%;
            }
            p{
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 151%;
            }
            li{
                color: #7C7C7C;
                font-style: normal;
                font-weight: 500;
                font-size: 14.791px;
                line-height: 151%;
            }
        }
        @media only screen and (max-width:768px){
            &:nth-child(1), 
            &:nth-child(3){
            padding-left: 0px;
        }
        }
    }
    div{
        width:100%; 
        img{
            width:100%; 
            height:auto; 
            object-fit:contain; 
        }
    }


}
@media screen and (max-width:500px) {
    .inverse{
        order:-1; 
    }
}


ul{
    list-style-type: none;
    padding: 0;
}

.hide{
    visibility: hidden;
}


.moonlit{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.btn{
    padding: 10px 35px;
    font-size: 12px;
    color: black!important;
    font-weight: bold;
    // font-family: helvetica;
    @media screen and (max-width:767px) {
        // width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
#clientes{
    border-bottom: 1px solid rgb(110, 110, 110);
    flex-wrap: wrap;
    justify-content: space-between;
    
    .cliente{
        max-width: 7.7vw;
        width: 52px; 
        min-width: 80px; 
        margin: 10px;
        img{
            opacity: .65;
        }
    }
}

.fancy-input{
    border-radius: 20px;
    padding: 8px 10px;
    border: 1px solid $yellow;
    background-color: transparent;
    min-width: 250px;
    line-height:50px; 
    border-radius: 12px;
    font-size: 20px;
    padding-left:25px!important;
    &:active,&:focus,&:focus-visible{
        box-shadow: none;
        outline: none;
    }
}
.moonlit2{
    position: relative;
    top: -50px;
    left: 10px;
    p{
        font-size: 14px;
        margin: 0;
    }
}

footer{
    background-color: #1F1F1F;
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .item-contact{
            >div{
                @media screen and (max-width:700px)  {
                    width:100%; 
                    padding-left:20px; 
                    padding-right: 20px;
                    input, button{
                        width:100%; 
                    }
                }
            }
            display: flex;
            justify-content: center;
            h5,li,p,span, a{
                color: white;
                text-decoration: none;
            }
            h5{
                font-family: 'Pilat Wide';
                font-style: normal;
                font-weight: 700;
                font-size: 16.8517px;
                line-height: 174%;
            }
            input{
                width: 299px;
                height: 53.24px;
                padding: 18.1218px 14px 18.1218px 14.4975px;
                background: #FFFFFF;
                border: 0.906091px solid rgba(0, 0, 0, 0.3);
                border-radius: 10.8731px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 14.4975px;
                line-height: 17px;
                color: #8A8A8A;

            }
            button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 18.1218px 14.4975px;
                width: 299px;
                height: 57.24px;
                background: #F5D600;
                border-radius: 10.8731px;
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                color: #000000;

            }
        }
    }
    
}

.w-80{
    width: 80%;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}

.nav-item{
    a{
        // font-family: 'sofiaPro';
    }
}


// .glide-container{
//     width: 50%;
//     @media screen and(max-width:992px) {
//         width: 75%;
//     }
//     @media screen and(max-width:772px){
//         width: 70%;
//     }
// }
.flex-grow{
    flex-grow: 6;
}

.card-blog{
    width: 90%;
    padding: 10px;
    background-color: #282828;
    h4{
        font-weight: normal;
        color: white;
        font-size: 16px;
        padding: 5px 0;
    }
    a{
        text-decoration: none;
        color: $yellow;
        font-size: 14px;
        &::after{

        }
    }
    .arrow{
        border: solid $yellow;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .go{
        cursor: pointer;
    }
    .icon{
        cursor: pointer;
    }
    .heartIcon{
        font-size: 5px;
        &.active{
            fill: red;
        }
        
    }
    p{
        color: white;
        font-size: 10px;
    }
    .icons{
        svg,img{
            width: 25px;
        }
        div{
            margin: 0 5px;
        }
    }
}
.text-yellow{
    color: $yellow!important;
}

#services-carousel{
    ul{
        align-items: center;
    }
    li{
        .contenedor{
            display: flex;
            align-items: center;
            justify-content: center;
            div{
                font-size: 35px;
                margin-right: 5px;
            }
            p{
                font-size: 18px;
                margin: 0;
            }
        }
        @media screen and (max-width:600px){
            min-width: 15vw;
            .contenedor{
                div,p{
                    padding: 0 5px;
                    // line-height: 1;
                    margin: 0;
                }

                div{
                    font-size: 25px;
                }
                p{
                    font-size: 15px;
                }
            }
    
            
        }
    }
    
}

#header-glide{
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: auto;
    .glide__track{
        height: 100vh;
        .glide__slides{
            height: 100%;
            li{
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @media screen and (max-width:768px) {
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top left;
                    }
                    
                }
            }
               
            
    
            
        }
    }
    
    
}
.controls{
    display:flex; 
    justify-content: flex-start;
    gap:30px; 
    .prev{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-size: 20px;
        color: white;
        background-color: black;
        z-index: 99;
        cursor: pointer;
    }
    .next{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 20px;
        background-color: black;
        color: white;
        z-index: 99;
        cursor: pointer;
    }
}
#slider{
    width: 100%;
    position: relative;
    height: 400px;
    .glide__slide{
        height: 400px;
        background-color: black;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-mask-image: linear-gradient(to top, transparent 5%, black 40%);
            mask-image: linear-gradient(to top, transparent 5%, black 100%);
        }
    }


    
}
.glide__arrows{
    button{
        top: calc(50% - 40px)!important;
        &:first-child{
            left: -5rem;
            width: 30px!important;
            height: 30px!important;
            border-radius: 50%;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:last-child{
            right: -5rem;
            width: 30px!important;
            height: 30px!important;
            border-radius: 50%;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media screen and (max-width:772px) {
            top: calc(50% - 30px)!important;
        }
    }
}
.planes-mantenimiento{
    @media screen and (max-width:500px) {
        gap:10px; 
    }
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    .card-price{
        width:300px; 
        background: white;
        border-radius: 12.19px;
        padding: 20px;
        .plan-type{
            // font-family: 'HelveticaNeue LT 53 Ex';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: #1A1A1A;
        }
        .period{
            width: 51px;
            height: 14px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 11.4686px;
            line-height: 14px;
            text-align: center;
            color: #000000;
        }
        h3{
            // font-family: 'HelveticaNeue LT 53 Ex';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #1A1A1A;
        }
        .discounts{
            padding-top: 10px;
            .subrayado{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 12.9055px;
                line-height: 16px;
                text-decoration-line: line-through;
                color: #808080;
            }
            .normal-span{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 12.9055px;
                line-height: 16px;
                color: #0F0F0F;
            }
        }
    
        p{
            padding-top: 15px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 139.7%;
            color: #000000;
        }
        ul{
            padding-top: 15px;
            padding-bottom: 18.7px;
            display: flex;
            flex-direction: column;
            li{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                color: #1A1A1A;
            }
        }
        a{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 13.6524px 10.922px;
            background: #F5D600;
            border-radius: 8.19147px;
            font-family: 'Pilat Wide';
            font-style: normal;
            font-weight: 600;
            font-size: 12.0539px;
            line-height: 15px;
    
            color: #000000;
    
        }
    }
}

.pre-footer{
    background-color: #1F1F1F;
    .accordion{
        width:80%; 
        @media screen and (max-width:1385px) {
            padding-left: 20px;
            padding-right: 20px;
            width:100%;
        }
        max-width: 1385px;
        margin: auto;
        padding: 46px 0;
        h5{
            font-family: 'Pilat Wide';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            text-align: left;
            color: white;
            margin-bottom: 34px;
        }
        .accordion-item {
            margin-bottom: 15px;
            border: none;
          
            .accordion-button {
              color: white;
              background-color: black;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0.75rem 1rem;
          
              &:hover,
              &:focus {
                background-color: #1a1a1a;
                border-color: transparent!important;
                box-shadow:none!important; 
              }
              &::after{
                display: none!important;
              }
          
              .accordion-icon {
                margin-right: 0.5rem;
                transition: transform 2ms ease-in-out;
          
                .bi {
                  font-size: 1.5rem;
                  color: $yellow;
                }
          
              }
          
              .accordion-title {
                flex: 1;
                padding-left: 1rem;
              }
          
              &:not(.collapsed) {
                .accordion-icon {
                    color: $yellow;
                    transform: rotate(45deg);
                    
                }
              }
            }
          
            .accordion-body {
              color: white;
              background-color: black;
              border-top: 1px solid $yellow;
              padding: 1rem;
            }
          
            
          }
    }
    
    section{
        min-height: 0;
        .container,.container-fluid{
            min-height: 0;
        }
    }
}
#rights-reserved{
    border-top: 1px solid $yellow;
}

.h-70vh{
    min-height: 70vh;
}

.text-width{
    width: 50%;
    @media screen and (max-width:992px) {
        width: 70%;
        
    }
    @media screen and (max-width:772px) {
        width: 80%;    
    }
}
#text-height{
    @media screen and (max-width:992px) {
        min-height: 50vh;
        
    }
}


//MODALES BOOTSTRAP 
#exampleModal{
    .modal-content{
        background-color: #1F1F1F;
        label{
            
        }
    }
    color: white;
    h2{
        margin: 0;
        margin-right: 15px;
        &:not(#exampleModalLabel){
            color: #333333!important;
        }
    }
    p{
        margin: 0;
    }
    ul{
        li{

            width: 33%;
            .btn{
                padding: 6px 12px;
                width: 90%;
                margin: 5px;
                color: #888888!important;
                font-size: 12px;
            }
        }
        @media screen and (max-width:772px) {
            li{
                width: 50%;
            }
            
        }
    }
    input[type=checkbox]{
        background-color: #333333;
    }

}
.modal.show .modal-dialog {
    transform: none;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100vh;
}

@media (min-width: 576px){
    .modal-dialog {
        width: 90vw;
        max-width: 1400px;
        margin: 1.75rem auto;
    }
}
@media (max-width:700px){
.modal-body{
    overflow: scroll;
    max-height: 70vh;
}
}
@media screen and (max-width:767px) {
    h1,h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
    .display-sm-none{
        display: none;
    }
    .px-5percent{
        padding-right: calc(5vw + calc(var(--bs-gutter-x) * .5))!important;
        padding-left: calc(5vw + calc(var(--bs-gutter-x) * .5))!important;
    }
    #textAreaGrow{
        min-height: 250px;
    }
}
@media screen and (min-width:768px) {
    .w-md-75{
        width: 75%;
    }
    .display-md-none{
        display: none!important;
    }
    
    
}
@media screen and (min-width:992px) {
    .w-lg-75{
        width: 75%;
    }
    .display-lg-none{
        display: none!important;
    }
    
    
}


//form input effect
.form-group {
    position: relative;
    .protected-info{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        color: #000000;
    }
  
    input {
      font-size: 14px;
      padding: 10px;
      border: none;
      outline: none;
      color: #aaa!important;
      &::selection{
        font-size: 10px;
      }
      &:focus{
        padding-top: 0!important;
      }
  
      &::-webkit-input-placeholder {
        color: #aaa;
        font-size: 16px;
        transition: all 0.2s ease-in-out;
      }
  
      &:focus::-webkit-input-placeholder, &:valid::-webkit-input-placeholder {
        font-size: 10px;
        transform: translateY(-100%);
        color: #333;
      }
    }
    select {
          color: #aaa!important;
          font-size: 16px;
      }
    textarea {
        &::-webkit-input-placeholder {
          color: #aaa;
          font-size: 16px;
          transition: all 0.2s ease-in-out;
        }

      
        &:focus::-webkit-input-placeholder,
        &:valid::-webkit-input-placeholder {
          font-size: 10px;
          transform: translateY(-100%);
          color: #333;
        }
      }
  
  }