
@font-face {
    font-family: sofiaPro;
    src: url('../assets/fonts/SofiaProRegular/SofiaPro.eot');
    src: url('../assets/fonts/SofiaProRegular/SofiaPro.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SofiaProRegular/SofiaPro.woff2') format('woff2'),
        url('../assets/fonts/SofiaProRegular/SofiaPro.woff') format('woff'),
        url('../assets/fonts/SofiaProRegular/SofiaPro.ttf') format('truetype'),
        url('../assets/fonts/SofiaProRegular/SofiaPro.svg#SofiaPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
    
@font-face {
    font-family: helveticaAnaphase;
    src: url('../assets/fonts/Helvetica/HelveticaNeueLTCom-MdEx.eot');
    src: url('../assets/fonts/Helvetica/HelveticaNeueLTCom-MdEx.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Helvetica/HelveticaNeueLTCom-MdEx.woff2') format('woff2'),
        url('../assets/fonts/Helvetica/HelveticaNeueLTCom-MdEx.woff') format('woff'),
        url('../assets/fonts/Helvetica/HelveticaNeueLTCom-MdEx.ttf') format('truetype'),
        url('../assets/fonts/Helvetica/HelveticaNeueLTCom-MdEx.svg#HelveticaNeueLTCom-MdEx') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Type_HM/Gilroy-ExtraBold.otf'),
        url('../assets/fonts/Type_HM/Gilroy-Medium.ttf'),
      url('../assets/fonts/Type_HM/Gilroy-Light.otf');
  font-weight: 700, 500 , 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pilat Wide';
  src: url('../assets/fonts/Type_HM/PilatWide-Light.ttf'),
      url('../assets/fonts/Type_HM/PilatWide-Regular.ttf'),
      url('../assets/fonts/Type_HM/PilatWide-Heavy.ttf');
  font-weight: 300, 500 , 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'icomoon';
    src:  url('../assets/icomoon/fonts/icomoon.eot?ua9oxk');
    src:  url('../assets/icomoon/fonts/icomoon.eot?ua9oxk#iefix') format('embedded-opentype'),
      url('../assets/icomoon/fonts/icomoon.ttf?ua9oxk') format('truetype'),
      url('../assets/icomoon/fonts/icomoon.woff?ua9oxk') format('woff'),
      url('../assets/icomoon/fonts/icomoon.svg?ua9oxk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



